<footer class="sidebar-hidden">
	{% include sidebar-icon-links.html %}
  	{% include copyright.html %}
</footer>


<!-- Optional footer content -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/js/lightgallery.min.js" integrity="sha256-GnThhVDusd6Mnhplk3lS6eX/C+Q9jaSR6KctYP8OlAo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $(".image-gallery")
        	.lightGallery({selector: '.thumb'})
			.find('.masonry').masonry({
			  // set itemSelector so .grid-sizer is not used in layout
			  itemSelector: '.tile',
			  percentPosition: true
			});
    });
</script>