<nav id="sidebar-icon-links">
  {% if site.links.repo %}
    <a id="github-link"
       class="icon" title="Github Project" aria-label="Github Project"
       href="{{ site.links.repo }}">
      <i class="fab fa-github"></i>
    </a>
  {% endif %}

    <a 
       class="icon" title="Behance" aria-label="Behance"
       href="https://www.behance.net/jjoseba" target="_blank">
      <i class="fab fa-behance"></i>
    </a>

    <a 
       class="icon" title="itch.io" aria-label="itch.io"
       href="https://jjoseba.itch.io/" target="_blank">
      <i class="fab fa-itch-io"></i>
    </a>
    
  

  {% comment %}
    Check if we have tag or search pages page active before linking to it.
  {% endcomment %}
  {% assign tags_page = false %}
  {% assign search_page = false %}
  {% for node in site.pages %}
    {% if node.layout == "tags" %}
      {% assign tags_page = node %}
    {% elsif node.layout == "search" %}
      {% assign search_page = node %}
    {% endif %}
  {% endfor %}

  {% if tags_page %}
    <a id="tags-link"
       class="icon{% if page.url == '/tags' %} active{% endif %}"
       title="Tags" aria-label="Tags"
       href="{{ tags_page.url | relative_url }}">
      {% include svg/tags.svg %}
    </a>
  {% endif %}

  {% if search_page %}
    <a id="search-link"
       class="icon{% if page.url == '/search' %} active{% endif %}"
       title="Search" aria-label="Search"
       href="{{ search_page.url | relative_url }}">
      {% include svg/search.svg %}
    </a>
  {% endif %}

  {% include custom-icon-links.html %}
</nav>
