<div id="sidebar">
  <header>
    <img src="/assets/img/logo-square.png" class="sidebar-logo" alt="{{ site.title }}">
    <p class="site-subtitle"><span>{{ site.description }}<span></p>
      
    {% unless page.url == "/" %}
    <a class="nav-back" href="{{ "{{layout.parent_page}}" | relative_url }}">
        <i class="fas fa-arrow-left fa-2x"></i>
    </a>
    {% endunless %}

  </header>
  {% if page.layout == "index" %}
    {% include sidebar-nav-links.html %}
  {% endif %}

  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}

  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>