$base-color: #2c7761;
$light-color: #45a88b;
$semiwhite: rgba(255,255,255,0.6);
$secondary: #efefef;

body{
	background:$base-color;
	font-family: 'Muli', sans-serif;
}

h1,h2,h3,h4{
	font-family: 'Miriam Libre', sans-serif;
}

.clear{ clear:both; }
.page-title{
	a{
		font-size:0.8em;
		background:none;
		color: #333;
		@media (min-width: 49rem){
			color: $base-color;
		}
	}
}

.site-subtitle {
	font-family: 'Miriam Libre', sans-serif;
	font-weight:bold;
	font-size:14px;
	margin:auto;
	margin-bottom:1.2rem;
    text-align:center;
    span{
    	-webkit-transform: scaleX(1.08);
    	transform: scaleX(1.08);
    }
}

.text-primary{
	color:$base-color;
}
.page-link{
	font-family: 'Miriam Libre', sans-serif;
}

a.nav-back{
	display:block;
	text-align:center;
	margin-bottom:2rem;
}
.alert{
	background-color:$secondary;
	font-size:0.9em;
	box-shadow: 0 4px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	margin: 1.5em 0;
	border-radius: 2px;
	padding: 1.5em 1.1em;
	line-height:1.2;

}
@media (max-width: $large-breakpoint){
	.container > header{
		margin: -1.5rem 0 0;
	    padding: 0 2rem 2rem;
	    background-color:$base-color;
	}	
}

.blog{
	font-size:0.85em;

	.date{
		font-size:1rem;
		font-weight:bold;
		font-family: 'Miriam Libre', sans-serif;
		background-color: $secondary;
		display:inline-block;
		color:#777;
		padding: 0 0.5rem;
	}
}

main.container.wave{

    background-image: url('/assets/css/tsunami-bg.png');
    background-attachment: fixed;
    background-color:#fff;
    background-size:contain;
    background-position: bottom left; 
    background-repeat: no-repeat;

    @media (min-width: 49rem){
    	& { background-position: 18rem 100%; }
    }

	.content{
		background: none;
	}	
  	
}
blockquote{
	background-color:$semiwhite;
	position:relative;
    padding-left: 2rem;
    

	@media (min-width: 30em){
		padding-right: 4rem;

	}

	h1{
		margin:0;
		font-size:9rem;
		margin-bottom:-6rem;
		margin-top:-4rem;
		margin-left:-3.5rem;
		font-family: 'Muli', sans-serif;
		font-weight:bold;
	}
}

.mb-0{ margin-bottom:0 !important; }
.mr-2{ margin-right: 0.5rem; }
.mtop{ margin-top:1.5em !important; }
.mleft{ margin-left:1.5em !important; }
.mbottom{ margin-bottom:1.5em !important; }
.mright{ margin-right:1.5em !important; }

@import "portfolio";
@import "footer";

input[type="text"], input[type="email"], input[type="search"], textarea{
	padding:1em;		
	border-radius:1px;
	margin-bottom:0.8em;
	outline:none;
	border:none;
	background-color:$semiwhite;
	border-top: 2px solid $base-color;
	border-left: 2px solid $base-color;
	display:block;
	width:100%;
	@media (min-width: 70rem){
		width:50%;

	}
}
textarea{ width:100%; }
label{
	font-size:0.9em;
	display:block;
	font-weight:bold;
	font-family: 'Miriam Libre', sans-serif;
	margin-bottom:-3px;
}

input[type="submit"], .btn{
    padding: 1em 1.5em;
	background: $base-color;
	color:#fff;
	border-radius:2px;
	border:0;
	font-size:16px;
	outline:none;
	display:inline-block;
	font-family: 'Miriam Libre', sans-serif;
	-webkit-transform: scaleX(1.08);
	transform: scaleX(1.08);
	margin-left:5px;
	cursor:pointer;

	&:hover{
		text-decoration:none;
		opacity:0.8;
	}
}

