$base-color: #2c7761;
$light-color: #45a88b;

body{
	background:$base-color;
	font-family: 'Muli', sans-serif;
}

h1,h2,h3,h4{
	font-family: 'Miriam Libre', sans-serif;
}

.clear{ clear:both; }
.page-title{
	a{
		font-size:0.8em;
		color: #333;
		@media (min-width: 49rem){
			color: $base-color;
		}
	}
}

.site-subtitle {
	font-family: 'Miriam Libre', sans-serif;
	font-weight:bold;
	font-size:14px;
	margin:auto;
	margin-bottom:1.2rem;
    text-align:center;
    span{
    	-webkit-transform: scaleX(1.08);
    	transform: scaleX(1.08);
    }
}

.sidebar-logo{
	margin:auto;
	max-width:180px;
	width:initial;
	width:100%;
}
.text-primary{
	color:$base-color;
}
.page-link{
	font-family: 'Miriam Libre', sans-serif;
}

a.nav-back{
	display:block;
	text-align:center;
	margin-bottom:2rem;
}

@media (max-width: 49rem){
	.container > header{
		margin: -1.5rem 0 0;
	    padding: 0 2rem 2rem;
	    background-color:$base-color;
	}	
}


main.container.wave{

    background-image: url('/assets/css/tsunami-bg.png');
    background-attachment: fixed;
    background-color:#fff;
    background-size:contain;
    background-position: bottom left;
    background-repeat: no-repeat;

	.content{
		background: none;
	}	
  	
}
blockquote{
	background-color:rgba(255,255,255,0.7);
}

.mb-0{ margin-bottom:0 !important; }

@import "portfolio";