$base-color: #2c7761;
$light-color: #45a88b;
$semiwhite: rgba(255,255,255,0.6);

body{
	background:$base-color;
	font-family: 'Muli', sans-serif;
}

h1,h2,h3,h4{
	font-family: 'Miriam Libre', sans-serif;
}

.clear{ clear:both; }
.page-title{
	a{
		font-size:0.8em;
		background:none;
		color: #333;
		@media (min-width: 49rem){
			color: $base-color;
		}
	}
}

.site-subtitle {
	font-family: 'Miriam Libre', sans-serif;
	font-weight:bold;
	font-size:14px;
	margin:auto;
	margin-bottom:1.2rem;
    text-align:center;
    span{
    	-webkit-transform: scaleX(1.08);
    	transform: scaleX(1.08);
    }
}

.sidebar-logo{
	margin:auto;
	max-width:180px;
	width:initial;
	width:100%;
}
.text-primary{
	color:$base-color;
}
.page-link{
	font-family: 'Miriam Libre', sans-serif;
}

a.nav-back{
	display:block;
	text-align:center;
	margin-bottom:2rem;
}

@media (max-width: 49rem){
	.container > header{
		margin: -1.5rem 0 0;
	    padding: 0 2rem 2rem;
	    background-color:$base-color;
	}	
}

main.container.wave{

    background-image: url('/assets/css/tsunami-bg.png');
    background-attachment: fixed;
    background-color:#fff;
    background-size:contain;
    background-position: bottom left; 
    background-repeat: no-repeat;

    @media (min-width: 49rem){
    	& { background-position: 18rem 100%; }
    }

	.content{
		background: none;
	}	
  	
}
blockquote{
	background-color:$semiwhite;
	position:relative;
    padding-left: 2rem;
    

	@media (min-width: 30em){
		padding-right: 4rem;

	}

	h1{
		margin:0;
		font-size:9rem;
		margin-bottom:-6rem;
		margin-top:-4rem;
		margin-left:-3.5rem;
		font-family: 'Muli', sans-serif;
		font-weight:bold;
	}
}

.mb-0{ margin-bottom:0 !important; }

@import "portfolio";

input[type="text"], input[type="email"], input[type="search"], textarea{
	padding:1em;		
	border-radius:1px;
	margin-bottom:0.8em;
	outline:none;
	border:none;
	background-color:$semiwhite;
	border-top: 2px solid $base-color;
	border-left: 2px solid $base-color;
	display:block;
	width:100%;
	@media (min-width: 70rem){
		width:50%;

	}
}
textarea{ width:100%; }
label{
	font-size:0.9em;
	display:block;
	font-weight:bold;
	font-family: 'Miriam Libre', sans-serif;
	margin-bottom:-3px;
}

input[type="submit"]{
	background: $base-color;
	color:#fff;
	border-radius:2px;
	border:0;
	font-size:16px;
	outline:none;
	display:inline-block;
	font-family: 'Miriam Libre', sans-serif;
	-webkit-transform: scaleX(1.08);
	transform: scaleX(1.08);
	margin-left:5px;

	&:hover{
		background: $light-color;
	}
}