---
layout: page
---

{{content}}

<h2 class="text-primary mb-0">proyectos</h3>
<small>cosas puramente gráficas (más allá de lo realizado en el resto de proyectos). Carteles, dibujos, diseños, etc. </small>
{% include portfolio_work.html category=site.project %}

<hr class="clear">

<h2 class="text-primary mb-0">arte</h3>
<small>juegos para móvil o VR, en la parte de programación y diseño, de grafismo o ambas.</small>
{% include portfolio_work.html category=site.art %}

<hr class="clear">

<h2 class="text-primary mb-0">random</h3>
<small>cosas más pequeñas, no necesariamente tecnológicas y experimentos hechos por diversión.</small>
{% include portfolio_work.html category=site.random %}

<hr class="clear">

<h2 class="text-primary mb-0">juegos</h3>
<small>juegos para móvil o VR, en la parte de programación y diseño, de grafismo o ambas.</small>
{% include portfolio_work.html category=site.game %}

