---
layout: page
---

{{content}}

<h2 class="text-primary mb-0">proyectos</h3>
<small>proyectos en los que estoy o he estado involucrado como desarrollador web/Android</small>
{% include portfolio_work.html category=site.project %}

<hr class="clear">

<h2 class="text-primary mb-0">arte</h3>
<small>cosas puramente visuales (más allá de que en el resto de proyectos suela participar también en esas tareas). Diseño de material gráfico, vídeos, carteles, dibujos, etc.</small>
{% include portfolio_work.html category=site.art %}

<hr class="clear">

<h2 class="text-primary mb-0">random</h3>
<small>cosas más pequeñas, no necesariamente tecnológicas y experimentos hechos por diversión.</small>
{% include portfolio_work.html category=site.random %}

<hr class="clear">

<h2 class="text-primary mb-0">juegos</h3>
<small>juegos para móvil o VR, en los que llevé la parte de programación, diseño, grafismo 2D/3D o todas a la vez. La mayoría ya no están disponibles en los marketplaces en los que se subieron, así que quede esta sección como memoria...</small>
{% include portfolio_work.html category=site.game %}

