---
layout: default
---

<header>
  <h1 class="page-title"><a href="/portfolio">\portfolio</a>\>_ {{ page.title }}</h1>
</header>

<div class="content">
	<div class="description small">
	{{page.description | markdownify }}
  	</div>
  	<div class="tags">
  		<i class="fas fa-tags"></i>
  		{% for tag in page.tags %}
  			<a href="/portfolio/tags/#{{ tag | slugify }}">{{ tag }}</a>
  		{% endfor %}
  	</div>
  	<hr>
  {{ content }}

  {% if page.external_link %}
  		<a class="btn mtop mright" href="{{page.external_link}}" {% if page.custom_color %} style="background-color:#{{page.custom_color}};" {% endif %} target="_blank">
  			 <i class="mr-2 {% if page.external_icon %}{{ page.external_icon }}{% else %}fas fa-external-link-alt{% endif %}"></i>
  			{{ page.external_text }}
  		</a>
  {% endif %}

  {% if page.secondary_link %}
      <a class="btn mtop" href="{{page.secondary_link}}" {% if page.secondary_color %} style="background-color:#{{page.secondary_color}};" {% endif %} target="_blank">
         <i class="mr-2 {% if page.secondary_icon %}{{ page.secondary_icon }}{% else %}fas fa-external-link-alt{% endif %}"></i>
        {{ page.secondary_text }}
      </a>
  {% endif %}

</div>

{% if page.gallery_folder %}
  {% include image-gallery.html gallery_folder=page.gallery_folder title=page.title %}
{% endif %}
